In [1]:
import pandas as pd

In [83]:
df = pd.read_csv('PokemonStats.csv', encoding='cp949')
df

,No,Pokemon,Type,Abilities,HP,Atk,Def,SpA,SpD,Spe,BST
0,1,나오하,Grass,Overgrow,40,61,54,45,45,65,310
1,2,나로테,Grass,Overgrow,61,80,63,60,63,83,410
2,3,마스카나,GrassDark,Overgrow,76,110,70,81,70,123,530
3,4,뜨아거,Fire,Blaze,67,45,59,63,40,36,310
4,5,악뜨거,Fire,Blaze,81,55,78,90,58,49,411
...,...,...,...,...,...,...,...,...,...,...,...
416,396,위유이,DarkFire,Beads of Ruin,55,80,80,135,120,100,570
417,397,고동치는달,DragonDark,Protosynthesis,105,139,71,55,101,119,590
418,398,무쇠무인,FairyFighting,Quark Drive,74,130,90,120,60,116,590
419,399,코라이돈,FightingDragon,Orichalcum Pulse,100,135,115,85,100,135,670
420,400,미라이돈,ElectricDragon,Hadron Engine,100,85,100,135,115,135,670

In [84]:
# Function to split types
def split_types(type_str):
    upper_case_indices = [i for i, c in enumerate(type_str) if c.isupper()]
    if len(upper_case_indices) < 2:
        return type_str, None
    split_index = upper_case_indices[1]
    return type_str[:split_index], type_str[split_index:]

# Applying the function and creating new columns
df['Type1'], df['Type2'] = zip(*df['Type'].apply(split_types))

# Dropping the original 'Type' column
df.drop(columns='Type', inplace=True)

# Rearranging columns to have Type1 and Type2 at the position of the original Type
column_order = ['No', 'Pokemon', 'Type1', 'Type2', 'Abilities', 'HP', 'Atk', 'Def', 'SpA', 'SpD', 'Spe', 'BST']
df = df[column_order]

df

,No,Pokemon,Type1,Type2,Abilities,HP,Atk,Def,SpA,SpD,Spe,BST
0,1,나오하,Grass,None,Overgrow,40,61,54,45,45,65,310
1,2,나로테,Grass,None,Overgrow,61,80,63,60,63,83,410
2,3,마스카나,Grass,Dark,Overgrow,76,110,70,81,70,123,530
3,4,뜨아거,Fire,None,Blaze,67,45,59,63,40,36,310
4,5,악뜨거,Fire,None,Blaze,81,55,78,90,58,49,411
...,...,...,...,...,...,...,...,...,...,...,...,...
416,396,위유이,Dark,Fire,Beads of Ruin,55,80,80,135,120,100,570
417,397,고동치는달,Dragon,Dark,Protosynthesis,105,139,71,55,101,119,590
418,398,무쇠무인,Fairy,Fighting,Quark Drive,74,130,90,120,60,116,590
419,399,코라이돈,Fighting,Dragon,Orichalcum Pulse,100,135,115,85,100,135,670
420,400,미라이돈,Electric,Dragon,Hadron Engine,100,85,100,135,115,135,670

In [85]:
df.to_csv('PokemonStats2.csv', index=False, encoding='cp949')

In [64]:
df

,No,Pokemon,Type1,Type2,Abilities,HP,Atk,Def,SpA,SpD,Spe,BST
0,1,나오하,Grass,None,Overgrow,40,61,54,45,45,65,310
1,2,나로테,Grass,None,Overgrow,61,80,63,60,63,83,410
2,3,마스카나,Grass,Dark,Overgrow,76,110,70,81,70,123,530
3,4,뜨아거,Fire,None,Blaze,67,45,59,63,40,36,310
4,5,악뜨거,Fire,None,Blaze,81,55,78,90,58,49,411
...,...,...,...,...,...,...,...,...,...,...,...,...
416,396,위유이,Dark,Fire,Beads of Ruin,55,80,80,135,120,100,570
417,397,고동치는달,Dragon,Dark,Protosynthesis,105,139,71,55,101,119,590
418,398,무쇠무인,Fairy,Fighting,Quark Drive,74,130,90,120,60,116,590
419,399,코라이돈,Fighting,Dragon,Orichalcum Pulse,100,135,115,85,100,135,670
420,400,미라이돈,Electric,Dragon,Hadron Engine,100,85,100,135,115,135,670

In [75]:
kitakami_df=pd.read_csv('kitakami.csv', encoding='cp949')
kitakami_df

      id         name            type
0      1     Spinarak      bug/poison
1      2      Ariados      bug/poison
2      3        Yanma      bug/flying
3      4      Yanmega      bug/flying
4      5       Wooper    water/ground
..   ...          ...             ...
195  196     Ursaluna   ground/normal
196  197      Okidogi    poison/fight
197  198    Monkidori  poison/psychic
198  199  Fezandipiti    poison/fairy
199  200      Ogerpon           grass

[200 rows x 3 columns]

In [79]:
pokemons_df = pd.read_csv('pokemons.csv', encoding='UTF-8')
kitakami_df = pd.read_csv('kitakami.csv', encoding='UTF-8')

# Convert names in both dataframes to lowercase to ensure matching is case-insensitive
pokemons_df['name'] = pokemons_df['name'].str.lower()
kitakami_df['name'] = kitakami_df['name'].str.lower()

# Merge the required columns based on the 'name' column from both dataframes
merged_df = kitakami_df.merge(
    pokemons_df[['name', 'hp', 'atk', 'def', 'spatk', 'spdef', 'speed', 'abilities']], 
    on='name', 
    how='left'
)

# Display the first few rows of the merged dataframe to verify the merge
merged_df

,id,name,type1,type2,hp,atk,def,spatk,spdef,speed,abilities
0,1,spinarak,bug,poison,40.0,60.0,40.0,40.0,40.0,30.0,swarm insomnia sniper
1,2,ariados,bug,poison,70.0,90.0,70.0,60.0,70.0,40.0,swarm insomnia sniper
2,3,yanma,bug,flying,65.0,65.0,45.0,75.0,45.0,95.0,speed-boost compound-eyes frisk
3,4,yanmega,bug,flying,86.0,76.0,86.0,116.0,56.0,95.0,speed-boost tinted-lens frisk
4,5,wooper,water,ground,55.0,45.0,45.0,25.0,25.0,15.0,damp water-absorb unaware
...,...,...,...,...,...,...,...,...,...,...,...
195,196,ursaluna,ground,normal,130.0,140.0,105.0,45.0,80.0,50.0,guts bulletproof unnerve
196,197,okidogi,poison,fight,88.0,128.0,115.0,58.0,86.0,80.0,toxic-chain zero-to-hero
197,198,monkidori,poison,psychic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,199,fezandipiti,poison,fairy,88.0,91.0,82.0,70.0,125.0,99.0,toxic-chain technician
199,200,ogerpon,grass,NaN,80.0,120.0,84.0,60.0,96.0,110.0,defiant

In [80]:
# Removing any extra spaces and the subsequent text from the 'abilities' column
merged_df['abilities'] = merged_df['abilities'].str.split().str[0]

# Display the updated dataframe
merged_df

,id,name,type1,type2,hp,atk,def,spatk,spdef,speed,abilities
0,1,spinarak,bug,poison,40.0,60.0,40.0,40.0,40.0,30.0,swarm
1,2,ariados,bug,poison,70.0,90.0,70.0,60.0,70.0,40.0,swarm
2,3,yanma,bug,flying,65.0,65.0,45.0,75.0,45.0,95.0,speed-boost
3,4,yanmega,bug,flying,86.0,76.0,86.0,116.0,56.0,95.0,speed-boost
4,5,wooper,water,ground,55.0,45.0,45.0,25.0,25.0,15.0,damp
...,...,...,...,...,...,...,...,...,...,...,...
195,196,ursaluna,ground,normal,130.0,140.0,105.0,45.0,80.0,50.0,guts
196,197,okidogi,poison,fight,88.0,128.0,115.0,58.0,86.0,80.0,toxic-chain
197,198,monkidori,poison,psychic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,199,fezandipiti,poison,fairy,88.0,91.0,82.0,70.0,125.0,99.0,toxic-chain
199,200,ogerpon,grass,NaN,80.0,120.0,84.0,60.0,96.0,110.0,defiant

In [81]:
# Replacing hyphens with spaces in the 'abilities' column
merged_df['abilities'] = merged_df['abilities'].str.replace('-', ' ')

# Display the updated dataframe
merged_df

,id,name,type1,type2,hp,atk,def,spatk,spdef,speed,abilities
0,1,spinarak,bug,poison,40.0,60.0,40.0,40.0,40.0,30.0,swarm
1,2,ariados,bug,poison,70.0,90.0,70.0,60.0,70.0,40.0,swarm
2,3,yanma,bug,flying,65.0,65.0,45.0,75.0,45.0,95.0,speed boost
3,4,yanmega,bug,flying,86.0,76.0,86.0,116.0,56.0,95.0,speed boost
4,5,wooper,water,ground,55.0,45.0,45.0,25.0,25.0,15.0,damp
...,...,...,...,...,...,...,...,...,...,...,...
195,196,ursaluna,ground,normal,130.0,140.0,105.0,45.0,80.0,50.0,guts
196,197,okidogi,poison,fight,88.0,128.0,115.0,58.0,86.0,80.0,toxic chain
197,198,monkidori,poison,psychic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,199,fezandipiti,poison,fairy,88.0,91.0,82.0,70.0,125.0,99.0,toxic chain
199,200,ogerpon,grass,NaN,80.0,120.0,84.0,60.0,96.0,110.0,defiant

In [82]:
merged_df.to_csv('kitakami_stats.csv', index=False)

In [97]:
kitakami_statsus_df = pd.read_csv('kitakami_statsus.csv', encoding='euc-kr')
pokemon_stats_df = pd.read_csv('PokemonStats.csv', encoding='euc-kr')

pokemon_stats_df

,No,Name,Type1,Type2,hp,atk,def,spatk,spdef,speed,abilities
0,1,나오하,Grass,NaN,40,61,54,45,45,65,Overgrow
1,2,나로테,Grass,NaN,61,80,63,60,63,83,Overgrow
2,3,마스카나,Grass,Dark,76,110,70,81,70,123,Overgrow
3,4,뜨아거,Fire,NaN,67,45,59,63,40,36,Blaze
4,5,악뜨거,Fire,NaN,81,55,78,90,58,49,Blaze
...,...,...,...,...,...,...,...,...,...,...,...
416,396,위유이,Dark,Fire,55,80,80,135,120,100,Beads of Ruin
417,397,고동치는달,Dragon,Dark,105,139,71,55,101,119,Protosynthesis
418,398,무쇠무인,Fairy,Fighting,74,130,90,120,60,116,Quark Drive
419,399,코라이돈,Fighting,Dragon,100,135,115,85,100,135,Orichalcum Pulse
420,400,미라이돈,Electric,Dragon,100,85,100,135,115,135,Hadron Engine

In [98]:
kitakami_statsus_df

,No,Name,Type1,Type2,hp,atk,def,spatk,spdef,speed,abilities
0,1,페이검,bug,poison,40,60,40,40,40,30,swarm
1,2,아리아도스,bug,poison,70,90,70,60,70,40,swarm
2,3,왕자리,bug,flying,65,65,45,75,45,95,speed boost
3,4,메가자리,bug,flying,86,76,86,116,56,95,speed boost
4,5,우파,water,ground,55,45,45,25,25,15,damp
...,...,...,...,...,...,...,...,...,...,...,...
195,196,다투곰,ground,normal,130,140,105,45,80,50,guts
196,197,조타구,poison,fight,88,128,115,58,86,80,toxic chain
197,198,이야후,poison,psychic,88,75,66,130,90,106,toxic chain
198,199,기로치,poison,fairy,88,91,82,70,125,99,toxic chain
199,200,오거폰,grass,NaN,80,120,84,60,96,110,defiant

In [99]:
# Find names in 'kitakami_stats_df' that are not in 'pokemon_stats_df'
unique_names = kitakami_statsus_df[~kitakami_statsus_df['Name'].isin(pokemon_stats_df['Name'])]

# Assign new 'No' starting from 401
unique_names['No'] = range(401, 401 + len(unique_names))

# Append the unique rows to 'pokemon_stats_df'
updated_pokemon_stats_df = pd.concat([pokemon_stats_df, unique_names], ignore_index=True)
updated_pokemon_stats_df

C:\Users\rbxo3\AppData\Local\Temp\ipykernel_22536\782489343.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_names['No'] = range(401, 401 + len(unique_names))

,No,Name,Type1,Type2,hp,atk,def,spatk,spdef,speed,abilities
0,1,나오하,Grass,NaN,40,61,54,45,45,65,Overgrow
1,2,나로테,Grass,NaN,61,80,63,60,63,83,Overgrow
2,3,마스카나,Grass,Dark,76,110,70,81,70,123,Overgrow
3,4,뜨아거,Fire,NaN,67,45,59,63,40,36,Blaze
4,5,악뜨거,Fire,NaN,81,55,78,90,58,49,Blaze
...,...,...,...,...,...,...,...,...,...,...,...
517,497,다투곰,ground,normal,130,140,105,45,80,50,guts
518,498,조타구,poison,fight,88,128,115,58,86,80,toxic chain
519,499,이야후,poison,psychic,88,75,66,130,90,106,toxic chain
520,500,기로치,poison,fairy,88,91,82,70,125,99,toxic chain
521,501,오거폰,grass,NaN,80,120,84,60,96,110,defiant

In [100]:
updated_pokemon_stats_df.to_csv('PokemonStats2.csv', index=False, encoding='euc-kr')